In [2]:
import pandas as  pd

In [3]:
#Utilizamos pandas para importar el CSV
df = pd.read_csv('Advertising.csv')

In [4]:
df.head(4)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5

In [5]:
#importamos datatile
from datatile.summary.df import DataFrameSummary

In [6]:
#Analizamos el dataset
dff = DataFrameSummary(df)

El método .summary() devuelve la cantidad y el porcentaje de valores faltantes, 
la cantidad de valores únicos, el tipo de datos y las estadísticas de resumen para cada columna.

In [11]:

dff.summary()

                     TV      Radio  Newspaper     Sales
count             200.0      200.0      200.0     200.0
mean           147.0425     23.264     30.554   14.0225
std           85.854236  14.846809  21.778621  5.217457
min                 0.7        0.0        0.3       1.6
25%              74.375      9.975      12.75    10.375
50%              149.75       22.9      25.75      12.9
75%             218.825     36.525       45.1      17.4
max               296.4       49.6      114.0      27.0
counts              200        200        200       200
uniques             190        167        172       121
missing               0          0          0         0
missing_perc         0%         0%         0%        0%
types           numeric    numeric    numeric   numeric

También podemos obtener información solo para columnas seleccionadas. Esto es útil si el conjunto de datos es grande y lleva mucho tiempo calcular la información de todas las columnas, o si queremos analizar solo algunas columnas en particular.

In [8]:
dff['TV']

mean                             147.0425
std                             85.854236
variance                      7370.949893
min                                   0.7
max                                 296.4
mode                                 17.2
5%                                 13.195
25%                                74.375
50%                                149.75
75%                               218.825
95%                               280.735
iqr                                144.45
kurtosis                        -1.226495
skewness                        -0.069853
sum                               29408.5
mad                              75.10465
cv                               0.583874
zeros_num                               0
zeros_perc                             0%
deviating_of_mean                       0
deviating_of_mean_perc                 0%
deviating_of_median                     0
deviating_of_median_perc               0%
top_correlations            Sales: 78.22%
counts                                200
uniques                               190
missing                                 0
missing_perc                           0%
types                             numeric
Name: TV, dtype: object

By María Belén Camandone